/* TODO: DELETE BEFORE RELEASE */

/**
 * File for custom CSS. You can use it to override the default styling of the theme.
 *
 * 1. Copy the file "default.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected classes or add your own CSS to override the default styling of the theme.
 *
 * Please refer to the user guide for more details.
 *
 */


/* CUSTOM %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.trusted-seller {
  margin: 0 0 24px 0;
  max-width: 400px;
	}

.trusted-seller img {
  width: 100%
	}
	
.trusted-seller > div {
	padding: 24px;
	}
	
.trusted-seller-text {
	text-align: justify;
  background-color: #efd;
	}
	
.trusted-seller-top {
	background-color: #f2e1ff;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
	}
	
.trusted-seller-bottom {
	background-color: #f2e1ff;
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.block-free-shipping, .block-free-shipping img {width: 100%;max-width:400px;margin: 0 auto;}

#home-social {
	margin: 24px 0	
	}
#home-social-left {
	width: 292px;
margin-right: 24px;
float: left;
	}
#home-social-right {
	width: 63%;
float: right;
	}
#home-social-bottom {
	clear: both;
	}
#twitter-widget-0 {width: 100%;}
#fb-root {
	display:none;
	}
	
	#___plus_0 {
		margin-top: 24px !important;
		}
	@media only screen and (min-width: 960px) and (max-width: 1279px)  {
		#home-social-right {
			width: 55%;
			float: right;
		}
	}
	
	@media only screen and (max-width: 1005px)  {
		#home-social-left {
				width: 100%;
				margin-right: 0;
				float: left;
		}
		#home-social-right {
				float: right;
				width: 100%;
				margin-top: 24px;
		}
		.fb_iframe_widget, .fb_iframe_widget > span, .fb_iframe_widget iframe, #___plus_0, #___plus_0 > iframe, .oAb {
			width: 100% !important;
			}
	}

	@media only screen and (max-width: 767px)  {

		.trusted-seller {
			margin: 0 auto 24px auto
		}

}

#mini-cart {
padding: 12px 24px;
border: 2px dashed #aaccbb;
background: #eeffcc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
	}
#mini-cart .block-content { top: 38px; }
#mini-cart .block-title .heading {
width: 24px;
padding-top: 0;
}
#mini-cart .summary {
	font-size: 1.5em;
	}

@media only screen and (min-width: 1440px) {
	.after-mini-cart {
	clear: both;
	}
	
	.show-separators .links li a {
	font-size: 1.4em;
	}

}

.show-separators .links li a {
padding: 6px 12px;
margin-top: 12px;
font-size: 1.2em;
}


.category-description {
	margin: 24px 0;
font-size: 1.2em;
line-height: 1.5em;
	}
	
	body.cms-index-index .the-slideshow, body.cms-index-defaultindex .the-slideshow {
margin-top: 0;
}