.postWrapper {
	padding-bottom: 2em;
	clear:both;
	line-height: 1.8em;
  font-size: 1.2em;
}
.postWrapper p {
	margin: 1em 0;
	}
.postTitle {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	margin-bottom: 1.4em;
}
.postTitle h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.postTitle h3 {
	font-size: 1em;
	margin: 0px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	color: #888888;
}
.postContent {
	padding-bottom: 1em;
}
.postDetails {
	
}
.postBookmarks {
	padding-bottom: 1em;
}
.postBookmarks h4 {
	
	font-size: 1em;
	font-weight: bold;
}
.commentWrapper {
	margin: 1em;
  padding: 1em;
  background-color: #fafaf8;
}
.commentContent {
  padding: 1em;
  font-family: georgia;
  font-style: italic;
  letter-spacing: 0.2em;
  line-height: 1.8em;
  color: #666;
}
.commentDetails  {
	margin-bottom:0.5em;
	padding: 0px;
	line-height: 1em;
  color: #888;
  font-size: 0.8em;
}
.commentDetails  h4.username{
	margin-bottom: 4px;
  color: #666;
  font-size: 1.6em;
}

#postComment {
	display: block;
  margin-top: 2em;
}

.postError {
	font-size: 1.4em;
}

.tags{
	font-weight:bold;
	padding-bottom: 1em;
}
.tags UL{
	display:inline;
}
.tags UL LI{
font-weight:normal;
	display:inline;
	padding-right:0.5em;
}


.tags h4 {
font-size: 1.1em;
font-weight:bold;
}

.menu-tags, .menu-categories, .menu-recent{
	margin:0.5em 1em;
}
.menu-tags h5, .menu-categories h5, .menu-recent h5{font-size:11px;}

.block-blog .menu-tags UL LI{
	display:inline;
	padding:2px;
	margin-left:1em;
}
.block-blog .menu-categories UL LI{
	line-height: 1.2em;
	margin: 0.6em 0 0 1em;
}
.block-blog .menu-recent UL LI{
	line-height: 1.2em;
	margin: 0.6em 0 0 1em;
}
.block-blog .menu-recent UL LI a,.block-blog .menu-categories UL LI a,.block-blog .menu-tags UL LI a{font-size:11px;}

.tagcloud{
	/* text-align:center; */ 
}
.tag-count-1{
	font-size:1em!important;
}
.tag-count-2{
	font-size:1.2em!important;
}
.tag-count-3{
	font-size:1.4em!important;
}
.tag-count-4{
	font-size:1.6em!important;
}
.tag-count-5{
	font-size:1.8em!important;
}
.tag-count-6{
	font-size:2em!important;
}
.tag-count-7{
	font-size:2em!important;
}
.tag-count-8{
	font-size:2em!important;
}
.tag-count-9{
	font-size:2em!important;
}
.tag-count-10{
	font-size:2em!important;
}

.block-blog .head h4{
padding-left: 2em;}

.block-blog .block-title strong {
background-image:url(../images/icon_blog.png);
background-repeat:no-repeat;
padding-left:21px;
text-align:left;
}

.postWrapper .poster{
	display:inline;
}
.input-box.aw-blog-comment-area{width:100%;}

.widget-latest li{font-size:1em;padding:0.5em 1em}
.block-blog .menu-categories{margin:0;padding:0.5em 1em}

A.awblog_current_comment { text-decoration:none!important; font-weight: bold!important; }